name: Go Lint

on:
  push:
  pull_request:

jobs:
  test:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.21.0'
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
